{% extends "base.html" %}
{% load static %}
{% block links %}
	<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock links%}
{% block title %}
	Flower Shop-Sign in
{% endblock title %}
{% block main %}
	<form method="POST">
		{% csrf_token %}
		<h1>Sign in</h1>
		<input class="input" type="text" name="username" placeholder="Your username">
		<input type="password" name="password" placeholder="Your password">
		{% for message in messages %}
			<ul class="errorlist">
				<li>{{ message }}</li>
			</ul>
		{% endfor %}
		<button>confirm</button>
	</form>
{% endblock main %}
