{% extends "base.html" %}
{% load static %}
{% block links %}
	<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock links%}
{% block title %}
	Flower Shop-Update
{% endblock title %}
{% block main %}
	<div class="container">
		<h1>Update</h1>
		<form method="POST", enctype = "multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				{{ field.errors }}
				{% if field.label == "Image" %}
					<p class = "form-image">
					<label>{{ field.label }}</label>
					{{ field }}
					<span class = "choose-image">choose image <i class="fa-regular fa-image"></i> </span>
					</p>
				{% else %}
				<p>
					<label>{{ field.label }}</label>
					{{ field }}
				</p>
				{% endif %}
			{% endfor %}
			<button>update</button>
		</form>
	</div>
{% endblock main %}